{%extends "layout.njk"%}
   
   
   {%block content%}

    <h1 class="title1">
       Sobre o FoodFy
    </h1>
    <div class="about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum, ipsam recusandae minus neque placeat pariatur nesciunt eaque eveniet deleniti aliquid quae vitae atque harum! Placeat iure minus, nesciunt eaque nostrum ipsum, ratione corporis voluptatem qui quos praesentium consectetur delectus dolorum vel vero. Adipisci debitis, ab similique exercitationem eaque iste.</p>
        <p>Facilis rem accusantium, nostrum minus vero maxime. Mollitia esse quos ducimus velit sint obcaecati consequuntur eum qui illo facere, sed dolorem rerum assumenda corporis? Voluptatem eveniet earum, eaque sunt nemo ut quibusdam, aliquam illum ad nihil assumenda. Doloremque natus qui ad reprehenderit asperiores et, laboriosam eligendi tempore eveniet! Voluptas, minus!</p>
    </div>
    <h1 class="title1">
        Como tudo começou...
     </h1>
     <div class="about">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum, ipsam recusandae minus neque placeat pariatur nesciunt eaque eveniet deleniti aliquid quae vitae atque harum! Placeat iure minus, nesciunt eaque nostrum ipsum, ratione corporis voluptatem qui quos praesentium consectetur delectus dolorum vel vero. Adipisci debitis, ab similique exercitationem eaque iste.</p>
         <p>Facilis rem accusantium, nostrum minus vero maxime. Mollitia esse quos ducimus velit sint obcaecati consequuntur eum qui illo facere, sed dolorem rerum assumenda corporis? Voluptatem eveniet earum, eaque sunt nemo ut quibusdam, aliquam illum ad nihil assumenda. Doloremque natus qui ad reprehenderit asperiores et, laboriosam eligendi tempore eveniet! Voluptas, minus!</p>
     </div>
     <h1 class="title1">
        Nossas receitas
     </h1>
     <div class="about">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum, ipsam recusandae minus neque placeat pariatur nesciunt eaque eveniet deleniti aliquid quae vitae atque harum! Placeat iure minus, nesciunt eaque nostrum ipsum, ratione corporis voluptatem qui quos praesentium consectetur delectus dolorum vel vero. Adipisci debitis, ab similique exercitationem eaque iste.</p>
         <p>Facilis rem accusantium, nostrum minus vero maxime. Mollitia esse quos ducimus velit sint obcaecati consequuntur eum qui illo facere, sed dolorem rerum assumenda corporis? Voluptatem eveniet earum, eaque sunt nemo ut quibusdam, aliquam illum ad nihil assumenda. Doloremque natus qui ad reprehenderit asperiores et, laboriosam eligendi tempore eveniet! Voluptas, minus!</p>
     </div>
    {%endblock%}