{%extends "layout.njk"%}
   
   {%block content%}
    <h2>Criando receita</h2>

    <form class="form-create" method="POST" action="/admin/recipes">
        <section class="create">
        
        {%include 'admin/fields.njk'%}
                     
        </section>
    </form>    
  

{%endblock%}