<!DOCTYPE html>
<body>
    <head>
        <title>FoodFy</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <header class="admin">

        <div>
            <a href="/" ><img  src="/logo.png" alt=""></a>
        </div>
        <div class="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
        </div>

    </header>
    
    {% block content %}{% endblock %}

    {# <div class="space"></div> #}
    <footer>Todos direitos reservados, receitas Foodfy</footer>
    <script src="/scripts.js"></script>
</body>