{%extends "layout.njk" %}

    {%block content%}
        <section class="card">
            {%for recipe in recipes %}
                <div class="recip" id="{{0}}">
                    <img src="{{recipe.image}}" alt="">
                    <p id="burger1">{{recipe.title}}</p>
                    <small  id="burger2">{{recipe.author}}</small>
                </div>
            {%endfor%}
        </section> 
 

    
    {%endblock%}
